@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";
body {
    margin: 0;
    font-family: 'Press Start 2P';
}

.navbar {
    background-color: #221;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    padding: 15px;
}

.nav-item a {
    text-decoration: none;
    color: #F6EB14;
}

.nav-item a:hover {
    color: #4FAF44;
}

.nav-item.active a {
    font-weight: bold;
    color: #4FAF44;
}