.container {
    display: flex;
    height: 100%;
    padding: 0 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.language-python {
    background-color: #191c1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 14px 12px 11px 2px rgba(0, 0, 0, 0.1);
}

.k, .kn {
    color: #e6cd69;
}

.nc, .nf, .n, .nn, .s {
    color: #55b5db;
}

.bp {
    color: #a074c4;
}

.o, .nb {
    color: #9fca56;
}

.mi {
    color: #cd3f45;
}

.c1 {
    color: #41535b;
}

.p, .ow {
    color: white;
}