body {
    background-color: #f5f0e7;
}

.container {
    display: flex;
    flex-direction: column;
}

.code {
    display: flex;
    align-items: center;
}

.code img {
    margin: 10px;
    width: 70px;
    height: auto;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

a:hover {
    color: #1a1afa;
}