<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
<head>
    <meta charset="UTF-8">
    {% if page.styles %}
    <link rel="stylesheet" href="{{ "/assets/css/" | append: page.styles | append: ".css" | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/base.css" | relative_url }}">

    {% if page.scripts %}
    <script src="{{ "/assets/js/" | append: page.scripts | append: ".js" | relative_url }}">
    {% endif %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="light-gray">
{%- include navbar.html -%}
{{ content }}
{%- include footer.html -%}
</body>
</html>
