<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>

<ol>
    <li><a class="arrow" href="{{ "/about" | relative_url }}"><i class="fa fa-arrow-right"></i>About</a></li>
    <li><a class="arrow" href="{{ "/contact" | relative_url }}"><i class="fa fa-arrow-right"></i>Contact</a></li>
    <li><a class="arrow" href="{{ "/projects/project_1" | relative_url }}"><i class="fa fa-arrow-right"></i>Project WCAG</a></li>
    <a class="arrow" href="https://github.com/rustamPy/test-project" target="_blank">
        <i class="fa fa-github"></i>View source code on GitHub </a>
</ol>


</body>
</html>
