{%- include navbar.html -%}
{% assign levels = site.levels %}
<head>
    <link rel="stylesheet" href="{{ "/assets/css/leetcode.css" | relative_url }}">
</head>
<div style="margin-bottom: 40px">
    <i> ver.: {{page.version}} </i>
    <a href="https://github.com/rustamPy/test-project" target="_blank">View source code on GitHub</a></div>
<div class="container">
    Tasks:
    {% for code in site.leetcodes %}
    <div class="code">

        <a href="{{ code.url | relative_url }}">{{code.number}} - {{ code.title }}</a> <img
            src="https://img.shields.io/badge/level-{{ code.level }}-{{ levels[code.level] }}"></li>
    </div>

    {% endfor %}
</div>

